*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 100px;
}

.logo{
    width: 135px;
    margin-left: 15px;
    vertical-align: middle;
}

nav{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.5rem;

}

h3{
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
    transition: all 0.25s;
    font-family: 'Inter', sans-serif;
    margin-left: 1.5rem;
}

a:hover{
    color: #ff0000;
}

.but1{
    border: 1px solid #00000000;
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    border-radius: 30px;
}

.but1:hover{
    border: #ff0000 solid 1px;
    background-color: white;
    color: #ff0000;
}

.nav2{
    display: flex;
    justify-content: end;
    width: 500px;
    margin-left: 15px;
}

svg{
    margin-left: 20px;
}

svg:hover{
    color: #ff0000;
}

.hero-title{
    position: relative;
    font-size: 75px;
    line-height: 120px;
    color: #1e2633;
    font-weight: 900;
    margin-bottom: 30px;
}

h1{
    clear: both;
    font-family: 'Nunito', sans-serif;
}


.first-div{
    width: 1150px;
    display: flex;
    align-items: center;
    background-color: red;
}